.chbackground {
    /* background-image: url('../images/Christiaan\ Huygens\ Wapen.png') !important;
    background-size: contain !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-color: beige !important; */
}
  